<template>
  <div>
    <v-row row wrap class="mx-0 py-4" v-if="quiz">
      <v-col>
        <span class="headline">{{ quiz.name }}</span>
      </v-col>
      <v-col class="flex-grow-1"></v-col>
      <v-col class="flex-grow-0 flex-shrink-1">
        <v-btn color="primary d-print-none" right large @click="print()"
          >Print</v-btn
        >
      </v-col>
      <v-col
        cols="12"
        sm="12"
        v-for="question in quiz.questions"
        :key="question.id"
      >
        <Question :question="question" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import _get from 'lodash/get'
import _sum from 'lodash/sum'
import _keyBy from 'lodash/keyBy'
import { exportCSV } from '@/helpers/download.js'
import Question from '@/components/Question'

export default {
  components: {
    Question
  },
  mounted() {
    this.courseId = this.$route.params.courseId
    this.quizId = this.$route.params.quizId
    this.fetchQuizReport(this.courseId, this.quizId)
  },
  data() {
    return {
      courseId: '',
      quizId: '',
      course: undefined,
      quiz: undefined,
      answers: undefined,
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  methods: {
    async fetchQuizReport(courseId, quizId) {
      try {
        const [course, quiz] = await Promise.all([
          this.$axios.$get(`/api/admin/courses/${courseId}`),
          this.$axios.$get(`/api/admin/courses/${courseId}/quizzes/${quizId}`)
        ])
        this.course = course
        this.quiz = quiz
      } catch (error) {
        console.error(error)
      }
    },
    print() {
      window.print()
    }
  }
}
</script>
