<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col class="flex-grow-1">
        <span class="display-1">Quizzes Performance of {{ courseName }}</span>
      </v-col>
      <v-col class="flex-grow-0 flex-shrink-1"></v-col>
      <v-col cols="12" sm="12"></v-col>
      <v-row v-if="course">
        <v-col cols="12" sm="12" md="4" v-for="quiz in quizzes" :key="quiz.id">
          <v-card>
            <v-toolbar color="pink">
              <v-toolbar-title>{{ quiz.name }}</v-toolbar-title>
            </v-toolbar>
            <v-list>
              <v-list-item
                v-for="question in quiz.questions"
                :key="question.id"
              >
                <v-list-item-content>
                  <v-list-item-title
                    v-text="`#${question.id} - ${question.title}`"
                  ></v-list-item-title>
                </v-list-item-content>
                <v-list-item-avatar>{{
                  stats(question.id)
                }}</v-list-item-avatar>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Cumulative score</v-list-item-title>
                </v-list-item-content>
                <v-list-item-avatar>{{
                  quiz.cumulativeScore
                }}</v-list-item-avatar>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Average score</v-list-item-title>
                </v-list-item-content>
                <v-list-item-avatar>{{ quiz.avgScore }}</v-list-item-avatar>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-row>
  </div>
</template>

<script>
import _get from 'lodash/get'
import _sumBy from 'lodash/sumBy'
import _keyBy from 'lodash/keyBy'
import _meanBy from 'lodash/meanBy'

export default {
  mounted: function() {
    this.courseId = this.$route.params.courseId
    this.fetchReport(this.courseId)
  },
  data() {
    return {
      courseId: '',
      course: undefined,
      quizzes: undefined,
      answers: undefined,
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  computed: {
    courseName() {
      if (this.course) {
        return `${this.course.code} - ${this.course.name}`
      }
      return `course`
    }
  },
  methods: {
    async fetchReport(courseId) {
      try {
        const [course, { quizzes, answers }] = await Promise.all([
          this.$axios.$get(`/api/admin/courses/${courseId}`),
          this.$axios.$get(`/api/admin/courses/${courseId}/report/quizzes`)
        ])
        this.course = course
        this.quizzes = this.addAnalyticsToQuizzes(quizzes, answers)
        this.answers = _keyBy(answers, 'questionId')
      } catch (error) {
        console.error(error)
      }
    },
    addAnalyticsToQuizzes(quizzes, answers) {
      const answerArray = Object.values(answers)
      return quizzes.map((quiz) => {
        const questionIds = quiz.questions.map((question) => question.id)
        const quizAnswers = answerArray.filter((ans) =>
          questionIds.includes(ans.questionId)
        )
        quiz.cumulativeScore = `${_sumBy(
          quizAnswers,
          'correctAttempts'
        )} / ${_sumBy(quizAnswers, 'totalAttempts')}`
        quiz.avgScore = `${(
          _meanBy(quizAnswers, 'correctAttempts') || 0
        ).toFixed(2)} / ${questionIds.length}`
        return quiz
      })
    },
    stats(questionId) {
      const result = _get(this.answers, questionId)
      return result ? `${result.correctAttempts} / ${result.totalAttempts}` : ''
    }
  }
}
</script>
