<template>
  <div>
    <v-row row wrap class="mx-0 py-4" v-if="quizReport">
      <v-col cols="12" sm="6">
        <span class="display-1">Student {{studentName}} Performance of {{quizName}}</span>
      </v-col>
      <v-col class="flex-grow-1"></v-col>
      <v-col class="flex-grow-0 flex-shrink-1">
        <v-btn color="primary d-print-none" right large @click="print()">Print</v-btn>
      </v-col>
      <v-col cols="12" sm="12" v-for="question in quizReport.quiz.questions" :key="question.id">
        <Question :question="question" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import _find from 'lodash/find'
import Question from '@/components/StudentReport/Question'

export default {
  components: {
    Question,
  },
  mounted: function() {
    this.courseId = this.$route.params.courseId
    this.fetchQuizReport(this.$route.params.courseId, this.$route.params.selectedQuizId, this.$route.params.studentId)
  },
  data() {
    return {
      courseId: '',
      quizReport: undefined,
      student: undefined,
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  computed: {
    studentName() {
      if (this.student) {
        return `${this.student.username}`
      }
      return 'student name'
    },
    quizName() {
      if (this.quizReport) {
        return `${this.quizReport.quiz.name}`
      }
      return 'quiz name'
    },
  },
  methods: {
    async fetchQuizReport(courseId, quizId, studentId) {
      const [course, quizReport] = await Promise.all([
        this.$axios.$get(`/api/admin/courses/${courseId}`),
        this.$axios.$get(`/api/admin/report/quizzes/${quizId}/students/${studentId}`),
      ])
      if (quizReport.report.length === 0) {
        alert('This student has not answered this quiz');
        this.$router.push({ path: `/reports/${courseId}/students` })
        return
      }
      this.course = course
      this.student = quizReport.student
      this.quizReport = quizReport
      this.quizReport.quiz.questions = this.quizReport.quiz.questions.map(question => {
        const report = _find(this.quizReport.report, {quizId: question.quizId});
        if (report) {
          return {...question, selectedAnswer: report.answer, isCorrect: report.isCorrect};
        }

        return question
      })
    },
  }
}
</script>
