<template>
  <v-select
    :value="currentCourseId"
    :items="coursesSelection"
    label="Course"
    @change="updateCourseId"
  ></v-select>
</template>

<script>
import { mapState } from 'vuex'

export default {
  mounted: function() {
    this.fetchCourses()
  },
  data: () => ({
    courses: []
  }),
  computed: {
    coursesSelection() {
      return this.courses.map((course) => ({
        text: `${course.code} - ${course.name}`,
        value: course.id
      }))
    },
    ...mapState(['currentCourseId'])
  },
  methods: {
    async fetchCourses() {
      const data = await this.$axios.$get(`/api/admin/courses`)
      this.courses = data
    },
    updateCourseId(courseId) {
      this.$store.commit('setCurrentCourseId', courseId)
    }
  }
}
</script>