<template>
  <div>
    <div class="title">{{ question.id }} - {{ question.title }}</div>
    <FillTheBlanks :question="question" v-if="question.type === 0" />
    <BestDescribe :question="question" v-if="question.type === 1" />
    <Prioritise :question="question" v-if="question.type === 2" />
    <div>
      Correct answer(s):
      <span class="font-weight-bold">{{ question.body.answer }}</span>
    </div>
    <div>
      Correct attempts:
      <span class="font-weight-bold">{{ question.attempts | displayAttempts }}</span>
    </div>
  </div>
</template>

<script>
import FillTheBlanks from '@/components/QuestionBody/FillTheBlanks.vue'
import BestDescribe from '@/components/QuestionBody/BestDescribe.vue'
import Prioritise from '@/components/QuestionBody/Prioritise.vue'

export default {
  props: {
    question: Object
  },
  components: {
    FillTheBlanks,
    BestDescribe,
    Prioritise
  },
  filters: {
    displayAttempts(attempts) {
      return `${attempts.correct} / ${attempts.total}`
    }
  }
}
</script>

<style>
</style>