<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col class="flex-grow-1">
        <span class="display-1">Student Performance of {{ courseName }}</span>
      </v-col>
      <v-col class="flex-grow-0 flex-shrink-1">
        <v-btn
          color="primary"
          right
          large
          v-if="displayData.length > 0"
          @click="downloadCSV"
          >Download</v-btn
        >
      </v-col>
      <v-col cols="12" sm="12"></v-col>
      <v-row v-if="course">
        <v-col
          cols="12"
          sm="12"
          md="4"
          v-for="record in displayData"
          :key="record.username"
        >
          <v-card>
            <v-toolbar color="primary">
              <v-toolbar-title class="white--text">{{
                record.username
              }}</v-toolbar-title>
            </v-toolbar>
            <v-list>
              <v-list-item
                v-for="quiz in record.quizzes"
                :key="quiz.id"
                @click="showDetail(quiz.id, record.studentId)"
              >
                <v-list-item-content>
                  <v-list-item-title
                    v-text="quiz.name"
                    class="font-weight-bold"
                  ></v-list-item-title>
                </v-list-item-content>
                <v-list-item-avatar>{{ quiz.result }}</v-list-item-avatar>
                <v-list-item-icon>
                  <v-icon>mdi-chevron-right</v-icon>
                </v-list-item-icon>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Cumulative score</v-list-item-title>
                </v-list-item-content>
                <v-list-item-avatar>{{ record.total }}</v-list-item-avatar>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-row>
  </div>
</template>

<script>
import _get from 'lodash/get'
import _sum from 'lodash/sum'
import { exportCSV } from '@/helpers/download.js'

export default {
  mounted: function() {
    this.courseId = this.$route.params.courseId
    this.fetchReport(this.$route.params.courseId)
  },
  data() {
    return {
      courseId: '',
      course: undefined,
      quizzes: undefined,
      answers: undefined,
      students: [],
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  computed: {
    courseName() {
      if (this.course) {
        return `${this.course.code} - ${this.course.name}`
      }
      return `course`
    },
    displayData() {
      const output = []
      for (const student of this.students) {
        const record = {}
        record.studentId = student.id
        record.username = student.username
        record.quizzes = this.quizzes.map((quiz) => {
          const correctAttempts = _get(
            this.answers.find(
              (ans) => ans.quizId == quiz.id && ans.userId == student.id
            ),
            'correctAttempts',
            0
          )
          return {
            id: quiz.id,
            name: quiz.name,
            result: `${correctAttempts}/${quiz.questions.length}`
          }
        })
        record.total = `${_sum(
          this.answers
            .filter((ans) => ans.userId == student.id)
            .map((ans) => ans.correctAttempts)
        )}/${_sum(this.quizzes.map((quiz) => quiz.questions.length))}`
        output.push(record)
      }
      return output
    },
    downloadData() {
      const output = []
      for (const student of this.students) {
        const record = {}
        record.Student = student.username
        for (const quiz of this.quizzes) {
          record[quiz.name] = _get(
            this.answers.find(
              (ans) => ans.quizId == quiz.id && ans.userId == student.id
            ),
            'correctAttempts',
            0
          )
        }
        record.Cumulative = _sum(
          this.answers
            .filter((ans) => ans.userId == student.id)
            .map((ans) => ans.correctAttempts)
        )
        output.push(record)
      }
      return output
    }
  },
  methods: {
    async fetchReport(courseId) {
      try {
        const [course, students, { quizzes, answers }] = await Promise.all([
          this.$axios.$get(`/api/admin/courses/${courseId}`),
          this.$axios.$get(`/api/admin/courses/${courseId}/users`),
          this.$axios.$get(`/api/admin/courses/${courseId}/report/students`)
        ])
        this.course = course
        this.students = students
        this.quizzes = quizzes
        this.answers = answers
      } catch (error) {
        console.error(error)
      }
    },
    downloadCSV() {
      const fields = Object.keys(this.downloadData[0])
      exportCSV(
        this.downloadData,
        fields,
        `Students Performance of ${this.course.code} - ${this.course.name}`
      )
    },
    showDetail(quizId, studentId) {
      this.$router.push({
        path: `/reports/${this.courseId}/quizzes/${quizId}/students/${studentId}`
      })
    }
  }
}
</script>
