<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col class="flex-grow-1">
        <span class="display-1">Reports of quizzes</span>
      </v-col>
      <v-col class="flex-grow-0 flex-shrink-0">
        <div class="d-flex">
          <v-btn
            color="primary"
            large
            v-if="currentCourseId"
            nuxt
            :to="`reports/${currentCourseId}/quizzes`"
            >By Quizzes</v-btn
          >
          <v-btn
            color="primary"
            large
            class="ml-2"
            v-if="currentCourseId"
            nuxt
            :to="`reports/${currentCourseId}/students`"
            >By Students</v-btn
          >
        </div>
      </v-col>
      <v-col cols="12" sm="12">
        <CurrentCourseSelector />
      </v-col>
      <v-col>
        <v-data-table
          :headers="headers"
          :items="quizzes"
          :disable-pagination="true"
          :hide-default-footer="true"
        >
          <template v-slot:item.action="{ item }">
            <v-btn
              color="primary"
              small
              nuxt
              :to="`reports/${currentCourseId}/quizzes/${item.id}`"
              >Result</v-btn
            >
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentCourseSelector from '@/components/CurrentCourseSelector'

export default {
  mounted: function() {
    if (this.currentCourseId) {
      this.afterCourseIdUpdated(this.currentCourseId)
    }
  },
  components: {
    CurrentCourseSelector
  },
  watch: {
    currentCourseId(val) {
      this.afterCourseIdUpdated(val)
    }
  },
  data() {
    return {
      // Data-table
      courses: [],
      quizzes: [],
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Start at', value: 'start_at' },
        { text: 'End at', value: 'end_at' },
        { text: 'Action', value: 'action', sortable: false }
      ],
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  computed: {
    ...mapState(['currentCourseId'])
  },
  methods: {
    async afterCourseIdUpdated(courseId) {
      this.selectedCourseId = courseId
      this.fetchQuizzes(courseId)
    },
    async fetchQuizzes(courseId) {
      try {
        const data = await this.$axios.$get(
          `/api/admin/courses/${courseId}/quizzes`
        )
        this.quizzes = data
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>
