<template>
  <v-app>
    <v-navigation-drawer
      class="d-print-none"
      v-model="drawer"
      :mini-variant="false"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="logout">
          <v-list-item-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app class="d-print-none">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="dialog = true">
        <v-icon>mdi-lock-open</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
        <v-dialog v-model="dialog" max-width="600px" @click:outside="close">
          <v-card>
            <v-card-title>
              <span class="headline">Change Password</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="form">
                <v-container fluid>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="originalPW"
                        type="password"
                        :rules="[rules.required]"
                        label="Original Password"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="newPW"
                        :rules="[rules.required, rules.min]"
                        type="password"
                        label="New Password"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="confirmPW"
                        type="password"
                        :rules="[rules.required, rules.min, rules.confirmPW]"
                        label="Confirm New Password"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="updatePW">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-snackbar v-model="snack" :timeout="8000" :color="snackColor">
          <nl2br tag="p" :text="snackText" />
          <v-btn text @click="snack = false">Close</v-btn>
        </v-snackbar>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Nl2br from 'vue-nl2br'

export default {
  components: {
    Nl2br
  },
  created() {
    this.$store.watch(
      (state) => state.errorMessage,
      () => {
        const msg = this.$store.state.errorMessage
        if (msg !== '') {
          this.snack = true
          this.snackColor = 'error'
          this.snackText = msg
          this.$store.commit('errorMessage', '')
        }
      }
    )
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-teach',
          title: 'Courses',
          to: '/courses'
        },
        {
          icon: 'mdi-account',
          title: 'Users',
          to: '/users'
        },
        {
          icon: 'mdi-clipboard-text-outline',
          title: 'Quizzes',
          to: '/quizzes'
        },
        {
          icon: 'mdi-file-chart',
          title: 'Reports',
          to: '/reports'
        }
      ],
      right: true,
      title: `iVL Teacher's Panel`,
      //dialog
      dialog: false,
      newPW: '',
      confirmPW: '',
      originalPW: '',
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        confirmPW: (v) => {
          if (this.newPW !== this.confirmPW) {
            return "The new passwords don't match"
          }
          return true
        }
      },
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      this.$router.replace({ path: '/login' })
    },
    async updatePW() {
      if (!this.$refs.form.validate()) {
        return
      }
      // send request to update password
      const userId = this.$auth.user.id
      try {
        await this.$axios.$patch(`/api/admin/admins/${userId}/resetPW`, {
          originalPW: this.originalPW,
          newPW: this.newPW
        })
        this.dialog = false
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Password updated.'
      } catch (err) {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Wrong original password.'
      }
    },
    close() {
      this.dialog = false
    }
  }
}
</script>
