<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-snackbar v-model="snack" :timeout="8000" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import Nl2br from 'vue-nl2br'

export default {
  components: {
    Nl2br
  },
  created() {
    this.$store.watch(
      (state) => state.errorMessage,
      () => {
        const msg = this.$store.state.errorMessage
        if (msg !== '') {
          this.snack = true
          this.snackColor = 'error'
          this.snackText = msg
          this.$store.commit('errorMessage', '')
        }
      }
    )
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      right: true,
      // snackbar
      snack: false,
      snackColor: '',
      snackText: '',
      title: `iVL Teacher's Panel`
    }
  }
}
</script>
