<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col>
        <span class="display-1">Courses</span>
      </v-col>
      <div class="flex-grow-1"></div>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-col class="flex-grow-0 flex-shrink-1">
            <v-btn color="primary" right large v-on="on">
              <v-icon left>mdi-plus</v-icon>Create Course
            </v-btn>
          </v-col>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field v-model="editedItem.code" label="Course code"></v-text-field>
                </v-col>
                <v-col cols="12" sm="8" md="8">
                  <v-text-field v-model="editedItem.name" label="Course name"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <DatetimePicker
                    label="Start Date"
                    v-model="editedItem.start_at"
                    timeFormat="HH:mm:ss"
                  >
                    <template slot="dateIcon">
                      <v-icon>mdi-calendar</v-icon>
                    </template>
                    <template slot="timeIcon">
                      <v-icon>mdi-clock-outline</v-icon>
                    </template>
                  </DatetimePicker>
                </v-col>
                <v-col cols="12" sm="6">
                  <DatetimePicker
                    label="End Date"
                    v-model="editedItem.end_at"
                    timeFormat="HH:mm:ss"
                  >
                    <template slot="dateIcon">
                      <v-icon>mdi-calendar</v-icon>
                    </template>
                    <template slot="timeIcon">
                      <v-icon>mdi-clock-outline</v-icon>
                    </template>
                  </DatetimePicker>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <v-col cols="12" sm="12">
        <v-text-field
          v-model="filter"
          label="Search"
          append-icon="mdi-magnify"
          @click:append="fetchCourses"
        ></v-text-field>
      </v-col>-->
      <v-col cols="12" sm="12">
        <v-data-table :headers="headers" :items="courses" :items-per-page="5" class="elevation-1">
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
            <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { formatDatetime } from '@/helpers/datetime'
import DatetimePicker from '@/components/DatetimePicker'

export default {
  mounted: function() {
    this.fetchCourses()
  },
  components: {
    DatetimePicker
  },
  data() {
    return {
      // dialog
      dialog: false,
      editedId: -1,
      editedIndex: -1,
      editedItem: {
        code: '',
        name: '',
        start_at: null,
        end_at: null
      },
      defaultItem: {
        code: '',
        name: '',
        start_at: null,
        end_at: null
      },
      // snackbar
      snack: false,
      snackColor: '',
      snackText: '',
      // filter
      currentPage: 1,
      filter: null,
      // data-table
      courses: [],
      headers: [
        { text: 'Course ID', value: 'id' },
        { text: 'Code', value: 'code' },
        { text: 'Name', value: 'name' },
        { text: 'Start date', value: 'start_at' },
        { text: 'End date', value: 'end_at' },
        { text: 'Created date', value: 'created_at' },
        { text: 'Action', value: 'action', sortable: false }
      ]
    }
  },
  computed: {
    formTitle() {
      return this.editedId === -1 ? 'New Item' : 'Edit Item'
    }
  },
  watch: {
    dialog(val) {
      val || this.close()
    }
  },
  methods: {
    async fetchCourses() {
      try {
        const data = await this.$axios.$get('/api/admin/courses')
        this.courses = data
      } catch (error) {
        console.error(error)
      }
    },
    async deleteCourse(item) {
      try {
        const data = await this.$axios.$delete(`/api/admin/courses/${item.id}`)
        const index = this.courses.indexOf(item)
        this.courses.splice(index, 1)
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Item deleted.'
      } catch (error) {
        console.error(error)
      }
    },
    async search(e) {
      await fetchCourses(this.currentPage)
    },
    editItem(item) {
      this.editedId = item.id
      this.editedIndex = this.courses.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      confirm('Are you sure you want to delete this item?') &&
        this.deleteCourse(item)
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    async save() {
      try {
        this.editedItem.start_at = formatDatetime(this.editedItem.start_at)
        this.editedItem.end_at = formatDatetime(this.editedItem.end_at)
        if (this.editedId > -1) {
          await this.$axios.$patch(
            `/api/admin/courses/${this.editedId}`,
            this.editedItem
          )
          Object.assign(this.courses[this.editedIndex], this.editedItem)
        } else {
          const course = await this.createCourse(this.editedItem)
          this.courses.push(course)
        }
        this.close()
      } catch (error) {
        console.error(error)
      }
    },
    async createCourse(data) {
      try {
        return this.$axios.$post(`/api/admin/courses`, data)
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>

<style>
.v-picker__body {
  margin: initial;
}
</style>
