<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" @submit="login">
              <v-text-field label="Username" name="username" type="text" required></v-text-field>
              <v-text-field label="Password" name="password" type="password" required></v-text-field>
              <section class="caption error--text" :v-if="error">{{ errorMsg }}</section>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="primary" type="submit">Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  layout: 'guest',
  data() {
    return {
      errorMsg: '',
      error: false
    }
  },
  methods: {
    async login(event) {
      event.preventDefault()
      const formData = new FormData(this.$refs.form.$el)
      const username = formData.get('username')
      const password = formData.get('password')
      try {
        await this.$auth.loginWith('local', {
          data: { courseId: 0, username, password }
        })
        this.$router.replace({ path: '/' })
      } catch (error) {
        this.errorMsg = 'Access denied'
        this.error = true
      }
    }
  }
}
</script>