<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col>
        <span class="display-1">Quizzes</span>
      </v-col>
      <div class="flex-grow-1"></div>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-col class="flex-grow-0 flex-shrink-1">
            <v-btn color="primary" right large v-on="on">
              <v-icon left>mdi-plus</v-icon>Create Quiz
            </v-btn>
          </v-col>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-select v-model="selectedCourseId" :items="courses" label="Course"></v-select>
                </v-col>
                <v-col cols="12" sm="12">
                  <v-text-field v-model="editedItem.name" label="Quiz name"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <DatetimePicker
                    label="Start Date"
                    v-model="editedItem.start_at"
                    timeFormat="HH:mm:ss"
                  >
                    <template slot="dateIcon">
                      <v-icon>mdi-calendar</v-icon>
                    </template>
                    <template slot="timeIcon">
                      <v-icon>mdi-clock-outline</v-icon>
                    </template>
                  </DatetimePicker>
                </v-col>
                <v-col cols="12" sm="6">
                  <DatetimePicker
                    label="End Date"
                    v-model="editedItem.end_at"
                    timeFormat="HH:mm:ss"
                  >
                    <template slot="dateIcon">
                      <v-icon>mdi-calendar</v-icon>
                    </template>
                    <template slot="timeIcon">
                      <v-icon>mdi-clock-outline</v-icon>
                    </template>
                  </DatetimePicker>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-col cols="12" sm="12">
        <CurrentCourseSelector />
      </v-col>
      <v-col>
        <v-data-table
          :headers="headers"
          :items="quizzes"
          :disable-pagination="true"
          :hide-default-footer="true"
        >
          <template v-slot:item.action="{ item }">
            <div class="mt-2">
              <v-icon class="mr-2" @click="assignStudents(item)">mdi-account-multiple</v-icon>
              <v-icon class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
              <v-icon @click="deleteItem(item)">mdi-delete</v-icon>
            </div>
            <v-switch
              class="mt-1 mb-n3"
              v-model="item.startAnswerPhase"
              true-value="1"
              label="Answer Phase"
              :loading="getLoadingState(item.id)"
              @change="(status) => syncQuizAnswerPhase(item.id, status)"
            ></v-switch>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-dialog v-model="assignDialog" max-width="600px" v-if="assignedQuiz" @click:outside="close">
      <v-card>
        <v-card-title>
          <v-col cols="12" class="headline">Question creators for {{ assignedQuiz.name }}</v-col>
          <v-col cols="12">
            <v-text-field
              v-model="filterName"
              append-icon="mdi-magnify"
              label="Search by username"
              single-line
              hide-details
            ></v-text-field>
          </v-col>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12">
                <v-data-table
                  v-model="selectedCreators"
                  :headers="assignHeaders"
                  :items="students"
                  :search="filterName"
                  item-key="id"
                  show-select
                ></v-data-table>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="syncAssignedCreators">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { formatDatetime } from '@/helpers/datetime'
import _get from 'lodash/get'
import DatetimePicker from '@/components/DatetimePicker'
import { mapState } from 'vuex'
import CurrentCourseSelector from '@/components/CurrentCourseSelector'

export default {
  mounted: function() {
    this.fetchCourses()
    if (this.currentCourseId) {
      this.afterCourseIdUpdated(this.currentCourseId)
    }
  },
  watch: {
    currentCourseId(val) {
      this.afterCourseIdUpdated(val)
    },
    assignedQuiz(quiz) {
      if (!quiz) {
        return []
      }
      const assignedCreatorIds = quiz.questionCreators.map(
        (creator) => creator.userId
      )
      this.selectedCreators = this.students.filter((student) =>
        assignedCreatorIds.includes(student.id)
      )
    }
  },
  computed: {
    formTitle() {
      return this.editedId === -1 ? 'New Quiz' : 'Edit Quiz'
    },
    assignedQuiz() {
      return this.quizzes.find((quiz) => quiz.id === this.assignQuizId)
    },
    ...mapState(['currentCourseId'])
  },
  components: {
    DatetimePicker,
    CurrentCourseSelector
  },
  data() {
    return {
      // Dialog
      dialog: false,
      selectedCourseId: '',
      editedId: -1,
      editedItem: {
        name: '',
        start_at: null,
        end_at: null
      },
      defaultItem: {
        name: '',
        start_at: null,
        end_at: null
      },
      //assignDialog
      assignDialog: false,
      assignQuizId: '',
      filterName: '',
      selectedCreators: [],
      assignHeaders: [{ text: 'Username', value: 'username' }],
      // Quiz Data-table
      courses: [],
      quizzes: [],
      students: [],
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Start at', value: 'start_at' },
        { text: 'End at', value: 'end_at' },
        { text: 'Action', value: 'action', sortable: false }
      ],
      stateLoading: {},
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  methods: {
    async afterCourseIdUpdated(courseId) {
      this.selectedCourseId = courseId
      this.fetchQuizzes(courseId)
      this.fetchStudents(courseId)
    },
    async fetchCourses() {
      try {
        const data = await this.$axios.$get(`/api/admin/courses`)
        this.courses = data.map((course) => ({
          text: `${course.code} - ${course.name}`,
          value: course.id
        }))
      } catch (error) {
        console.error(error)
      }
    },
    async fetchQuizzes(courseId) {
      try {
        const data = await this.$axios.$get(
          `/api/admin/courses/${courseId}/quizzes`
        )
        this.quizzes = data
      } catch (error) {
        console.error(error)
      }
    },
    async fetchStudents(courseId) {
      try {
        const data = await this.$axios.$get(
          `/api/admin/courses/${courseId}/users`
        )
        this.students = data
      } catch (error) {
        console.error(error)
      }
    },
    close() {
      this.dialog = false
      this.assignDialog = false
      this.assignQuizId = ''
      this.selectedCreators = []
      this.editedItem = this.defaultItem
    },
    async save() {
      try {
        this.editedItem.start_at = formatDatetime(this.editedItem.start_at)
        this.editedItem.end_at = formatDatetime(this.editedItem.end_at)
        if (this.editedId > -1) {
          await this.$axios.$patch(
            `/api/admin/courses/${this.selectedCourseId}/quizzes/${this.editedId}`,
            this.editedItem
          )
          await this.fetchQuizzes(this.selectedCourseId)
        } else {
          // create quiz
          const savedItem = await this.$axios.$post(
            `/api/admin/courses/${this.selectedCourseId}/quizzes`,
            this.editedItem
          )
          this.quizzes.push(savedItem)
          await this.fetchQuizzes(this.selectedCourseId)
        }
        this.close()
      } catch (error) {
        console.error(error)
      }
    },
    async syncQuizAnswerPhase(quizId, status) {
      try {
        this.stateLoading = {
          ...this.stateLoading,
          [quizId]: true
        }
        await this.$axios.$patch(
          `/api/admin/courses/${this.selectedCourseId}/quizzes/${quizId}/answerState`,
          { startPhase: status ? 1 : 0 }
        )
        this.stateLoading = {
          ...this.stateLoading,
          [quizId]: false
        }
      } catch (error) {
        console.error(error)
        this.stateLoading = {
          ...this.stateLoading,
          [quizId]: false
        }
      }
    },
    async syncAssignedCreators() {
      try {
        await this.$axios.$post(
          `/api/admin/courses/${this.selectedCourseId}/quizzes/${this.assignQuizId}/students`,
          {
            userIds: this.selectedCreators.map((creator) => creator.id)
          }
        )
        await this.fetchQuizzes(this.selectedCourseId)
        this.close()
      } catch (error) {
        console.error(error)
      }
    },
    editItem(item) {
      this.editedId = item.id
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      confirm('Are you sure you want to delete this quiz?') &&
        this.deleteQuiz(item)
    },
    assignStudents(item) {
      this.assignQuizId = item.id
      this.filterName = ''
      this.assignDialog = true
    },
    getLoadingState(quizId) {
      return _get(this.stateLoading, quizId, false)
    },
    async deleteQuiz(item) {
      try {
        const data = await this.$axios.$delete(
          `/api/admin/courses/${item.courseId}/quizzes/${item.id}`
        )
        this.quizzes = this.quizzes.filter((quiz) => quiz.id !== item.id)
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Item deleted.'
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>
