<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col>
        <span class="display-1">Users</span>
      </v-col>
      <v-dialog v-model="editDialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Edit Password</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-text-field
                    v-model="newPassword"
                    :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="showNewPassword ? 'text' : 'password'"
                    name="input-password"
                    label="New Password"
                    hint="At least 8 characters"
                    counter
                    @click:append="showNewPassword = !showNewPassword"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="updatePassword"
              >Save</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-col class="flex-grow-0 flex-shrink-1">
            <v-btn color="primary" right large v-on="on">
              <v-icon left>mdi-import</v-icon>Create Users
            </v-btn>
          </v-col>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Create Users</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-tabs v-model="tab" background-color="transparent" grow>
                    <v-tab>New User</v-tab>
                    <v-tab>Batch Import</v-tab>
                  </v-tabs>
                </v-col>
                <v-col cols="12" sm="12">
                  <CurrentCourseSelector />
                </v-col>
                <v-col cols="12" sm="12">
                  <v-tabs-items v-model="tab">
                    <v-tab-item>
                      <v-card flat>
                        <v-row>
                          <v-col cols="12" sm="12">
                            <v-text-field
                              v-model="username"
                              label="User name"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12">
                            <v-text-field
                              v-model="password"
                              :append-icon="
                                showPassword ? 'mdi-eye' : 'mdi-eye-off'
                              "
                              :rules="[rules.required, rules.min]"
                              :type="showPassword ? 'text' : 'password'"
                              name="input-password"
                              label="New Password"
                              hint="At least 8 characters"
                              counter
                              @click:append="showPassword = !showPassword"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item>
                      <v-card flat>
                        <v-row>
                          <v-col cols="12">
                            <p class="font-italic">
                              You can start by
                              <a href="/sample.csv">downloading</a> the sample
                              csv.
                            </p>
                            <p class="font-italic font-weight-bold">
                              DO NOT CHANGE the header
                            </p>
                          </v-col>
                          <v-col cols="12" sm="12">
                            <v-file-input
                              v-model="csvFile"
                              accept=".csv"
                              show-size
                              label="CSV file"
                            ></v-file-input>
                          </v-col>
                          <v-expand-transition>
                            <div class="text-center" v-show="showResultTable">
                              <span class="headline">Result</span>
                              <v-divider class="my-4"></v-divider>
                              <v-data-table
                                :headers="importHeaders"
                                :items="newUsers"
                                :disable-pagination="true"
                                :hide-default-footer="true"
                                class="text-left"
                              ></v-data-table>
                            </div>
                          </v-expand-transition>
                        </v-row>
                      </v-card>
                    </v-tab-item>
                  </v-tabs-items>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn text @click="close(showResultTable)">{{
              !showResultTable ? 'Cancel' : 'OK'
            }}</v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="save"
              v-show="!showResultTable"
              >Import</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-col cols="12" sm="12">
        <CurrentCourseSelector />
      </v-col>
      <v-col>
        <v-data-table
          :headers="headers"
          :items="users"
          :disable-pagination="true"
          :hide-default-footer="true"
        >
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)"
              >mdi-pencil</v-icon
            >
            <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack" :timeout="snackTimeout" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentCourseSelector from '@/components/CurrentCourseSelector'

export default {
  mounted: function() {
    if (this.currentCourseId) {
      this.afterCourseIdUpdated(this.currentCourseId)
    }
  },
  watch: {
    currentCourseId(val) {
      this.afterCourseIdUpdated(this.currentCourseId)
    }
  },
  components: {
    CurrentCourseSelector
  },
  data() {
    return {
      // Dialog
      dialog: false,
      editDialog: false,
      editedItem: null,
      tab: 0,
      showPassword: false,
      username: '',
      password: '',
      showResultTable: false,
      csvFile: null,
      // snackbar
      snack: false,
      snackColor: '',
      snackText: '',
      snackTimeout: 3000,
      // Data-table
      courses: [],
      users: [],
      newUsers: [],
      headers: [
        { text: 'Username', value: 'username' },
        { text: 'Created date', value: 'created_at' },
        { text: 'Action', value: 'action', sortable: false }
      ],
      importHeaders: [
        { text: 'Username', value: 'username' },
        { text: 'Password', value: 'password' }
      ],
      showNewPassword: false,
      newPassword: '',
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters'
      }
    }
  },
  computed: {
    ...mapState(['currentCourseId'])
  },
  methods: {
    async afterCourseIdUpdated(courseId) {
      this.fetchUsers(courseId)
    },
    async fetchUsers(courseId) {
      try {
        const data = await this.$axios.$get(
          `/api/admin/courses/${courseId}/users`
        )
        this.users = data
      } catch (error) {
        console.error(error)
      }
    },
    async close(shouldRefreshUsers = false) {
      this.editDialog = false
      this.dialog = false
      if (shouldRefreshUsers) {
        await this.fetchUsers(this.currentCourseId)
      }
      setTimeout(() => {
        this.editedItem = null
        this.newPassword = ''
        this.username = ''
        this.password = ''
        this.newUsers = []
        this.showResultTable = false
        this.csvFile = null
      }, 300)
    },
    async save() {
      try {
        if (this.tab === 0) {
          const newUser = await this.$axios.$post(
            `/api/admin/courses/${this.currentCourseId}/users`,
            {
              username: this.username,
              password: this.password
            }
          )
          this.users.push(newUser)
          this.snack = true
          this.snackColor = 'success'
          this.snackText = 'User created.'
          this.close()
        } else {
          const formData = new FormData()
          formData.append('users', this.csvFile)
          this.newUsers = await this.$axios.$post(
            `/api/admin/courses/${this.currentCourseId}/users/import`,
            formData
          )
          this.showResultTable = true
        }
      } catch (error) {
        console.error(error)
      }
    },
    editItem(item) {
      this.editedItem = item
      this.editDialog = true
    },
    deleteItem(item) {
      confirm('Are you sure you want to delete this user?') &&
        this.deleteUser(item)
    },
    async updatePassword() {
      try {
        const { courseId, id } = this.editedItem

        await this.$axios.$patch(`/api/admin/courses/${courseId}/users/${id}`, {
          password: this.newPassword
        })
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'User password updated.'
        this.close()
      } catch (error) {
        console.error(error)
      }
    },
    async deleteUser(item) {
      try {
        const index = this.users.indexOf(item)
        const data = await this.$axios.$delete(
          `/api/admin/courses/${item.courseId}/users/${item.id}`
        )
        this.users.splice(index, 1)
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'User deleted.'
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>
