<template>
  <v-row class="options-best-describe">
    <v-col cols="12">
      <v-img :src="question.body.image" contain max-height="250" max-width="250" :eager="true" />
    </v-col>
    <v-col cols="6" sm="4" md="3" :key="index" v-for="(option, index) in question.body.options">
      <v-card>
        <v-card-title :class="classes(index + 1)">Option {{ index + 1 }} - {{option}}</v-card-title>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    question: Object
  },
  methods: {
    classes(currentIdx) {
      const baseClass = {'caption': 1};
      baseClass.selected = this.question.selectedAnswer == currentIdx
      if (this.question.isCorrect || (this.question.body.answer == currentIdx && !baseClass.selected)) {
        baseClass.correct = 1;
      } else {
        baseClass.incorrect = 1;
      }
      console.log(baseClass, this.question.isCorrect, this.question.selectedAnswer, this.question.body.answer)
      return baseClass
    }
  }
}
</script>

<style>
.correct {
  background-color: #4CAF50;
}

.selected.incorrect {
  background-color: #F44336;
}
</style>
