<template>
  <v-row class="options-fill-the-blanks">
    <v-col :cols="4" :sm="4" :md="3" :key="index" v-for="(option, index) in question.body.options">
      <v-card>
        <v-card-title :class="classes(index + 1)">Option {{ index + 1 }}</v-card-title>
        <v-img :src="option" aspect-ratio="1" contain :eager="true" />
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    question: Object
  },
  methods: {
    classes(currentIdx) {
      const baseClass = { caption: 1 }
      baseClass.selected = this.question.selectedAnswer == currentIdx
      if (
        this.question.isCorrect ||
        (this.question.body.answer.split(',').includes(currentIdx) &&
          !baseClass.selected)
      ) {
        baseClass.correct = 1
      } else {
        baseClass.incorrect = 1
      }
      return baseClass
    }
  }
}
</script>

<style>
.correct {
  background-color: #4caf50;
}

.selected.incorrect {
  background-color: #f44336;
}
</style>
