<template>
  <FillTheBlanks :question="question" />
</template>

<script>
import FillTheBlanks from './FillTheBlanks'

export default {
  components: {
    FillTheBlanks
  },
  props: {
    question: Object
  }
}
</script>
